@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  color:white;
}
html,body{
    height:100%;
    width:100%;
    background:rgb(0, 0, 0);

}
body{
    overflow-x:hidden;
    position: relative;
    padding:0px 20px;
}
a{
    text-decoration: none;
}
.nav{
    height:10vh;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10vw;
}
.nav a{
    font-size: 1.5vw;
    font-weight: 700;
    text-decoration: none;
}
.nav i{
    font-weight: 700;
    font-size:2vw;
}
.hero{
    height:85vh;
    /* gap:10vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: radial-gradient(rgba(255, 255, 255, 0),rgb(0, 0, 0)),url(./back.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.hero h1{
    font-size: 3em;
}
.hero i{
    font-size: 3vw;
    padding:1vw;
    border:5px solid white;
    border-radius:50%;
    /* background-color: antiquewhite; */
    margin-top:10vh;
}
.desc{
    height:35vh;
    width:100vw;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:20px;
    gap:10px;
    background-color: transparent;
}
.desc p{
    width:60%;
    text-align: center;
}
.cards{
    height:80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10vw;
}
.card{
    height:90%;
    width:30%;
    /* background-color: aliceblue; */
    padding:1vw 1vw 50px 1vw;
    border-radius:10px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    background-color: aliceblue;
    position: relative;
}
.card img{
    /* height:100%; */
    /* width:100%; */
    object-fit: cover;
    object-position: center;
    z-index: -1;
    position: absolute;
}
.card h3,h4{
    text-align: center;
    /* background-color: rgb(231, 60, 60); */
    color:rgb(255, 255, 255);
}
.c1{
    background: radial-gradient(rgba(255, 255, 255, 0),rgba(0, 0, 0, 0.63)),url(./manali.jpg);
    background-position: center;
    background-size: cover;
}
.c2{
    background:radial-gradient(rgba(255, 255, 255, 0),rgba(0, 0, 0, 0.63)), url(./ladakh.jpg);
    background-position: center;
    background-size: cover;
}
.c3{
    background: radial-gradient(rgba(255, 255, 255, 0),rgba(0, 0, 0, 0.63)),url(./siliguri.jpg);
    background-position: center;
    background-size: cover;
}
.bottom{
    height: 45vh;
    width:100%;
    background:radial-gradient(#00000000,#111),url(./bottom.jpg);
    background-position: center;
    background-size: cover;
    display:flex;
    flex-wrap: wrap;
    align-items:end;
    justify-content:space-evenly;
    gap:10px;
}
.bottom h4{
    font-size:3vh;
    margin-bottom:10vh;
    padding:10px 50px;
    border:5px solid rgba(0, 0, 0, 0.904);
    background: linear-gradient(45deg,rgb(201, 85, 85),rgb(63, 206, 231));
    border-radius:50px;

}


