@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  color:white;
}
html,body{
    height:100%;
    width:100%;
}
body{
    background-color: grey;
    position: relative;
    overflow: hidden;
 
}
.cursor{
    font-size: 1rem;
    color:black;
    position: absolute;
    height: 5vh;
    width:5vh;
    border-radius: 50%;
    background-color: white;
    z-index: 10;
    text-align: center;
}
.cursor2{
    position: absolute;
    height: 10vh;
    width:10vh;
    border-radius: 50%;
    background-color: rgba(9, 231, 39, 0.411);
    filter: blur(10px);
    z-index: -1;
}
section{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image{
    cursor:pointer ;
    border-radius:20px;
    height: 70vh;
    width:50vw;
    z-index: 9;
    background-position: center;
    background-size: cover;
    background-image: url(../background.webp);
    
}